#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "keys_de.h"



/ {
    combos {
        compatible = "zmk,combos";

        combo_q {
            bindings = <&kp DE_Q>;
            key-positions = <1 0>;
            timeout-ms = <25>;
            layers = <0>;
        };

        combo_v {
            bindings = <&kp DE_V>;
            key-positions = <2 3>;
            timeout-ms = <25>;
            layers = <0>;
        };

        combo_k {
            bindings = <&kp DE_K>;
            key-positions = <3 11>;
            timeout-ms = <25>;
            layers = <0>;
        };

        combo_m {
            bindings = <&kp DE_M>;
            key-positions = <2 10>;
            timeout-ms = <25>;
            layers = <0>;
        };

        combo_j {
            bindings = <&kp DE_J>;
            key-positions = <1 9>;
            timeout-ms = <25>;
            layers = <0>;
        };

        combo_z {
            bindings = <&kp DE_Z>;
            key-positions = <9 10>;
            timeout-ms = <25>;
            layers = <0>;
        };

        combo_f {
            bindings = <&kp DE_F>;
            key-positions = <10 11>;
            timeout-ms = <25>;
            layers = <0>;
        };

        combo_p {
            bindings = <&kp DE_P>;
            key-positions = <12 13>;
            timeout-ms = <25>;
            layers = <0>;
        };

        combo_y {
            bindings = <&kp DE_Y>;
            key-positions = <13 14>;
            timeout-ms = <25>;
            layers = <0>;
        };

        combo_g {
            bindings = <&kp DE_G>;
            key-positions = <4 12>;
            timeout-ms = <25>;
            layers = <0>;
        };

        combo_comma {
            bindings = <&kp DE_COMMA>;
            key-positions = <7 4>;
            timeout-ms = <30>;
        };

        combo_semi {
            bindings = <&kp DE_SEMICOLON>;
            key-positions = <7 4 5>;
            timeout-ms = <30>;
        };

        combo_colon {
            bindings = <&kp DE_COLON>;
            key-positions = <0 3 2>;
            timeout-ms = <30>;
        };

        combo_rbrc {
            bindings = <&kp DE_RBRC>;
            key-positions = <7 5 6>;
            timeout-ms = <30>;
        };

        combo_lbrc {
            bindings = <&kp DE_LEFT_BRACE>;
            key-positions = <0 2 1>;
            timeout-ms = <30>;
        };

        combo_fslsh {
            bindings = <&kp DE_SLASH>;
            key-positions = <0 10>;
            timeout-ms = <30>;
        };

        combo_bslsh {
            bindings = <&kp DE_BSLH>;
            key-positions = <13 7>;
            timeout-ms = <30>;
        };

        combo_lbrkt {
            bindings = <&kp DE_LEFT_BRACKET>;
            key-positions = <2 9>;
            timeout-ms = <30>;
            layers = <0>;
        };

        combo_rbrkt {
            bindings = <&kp DE_RIGHT_BRACKET>;
            key-positions = <5 14>;
            timeout-ms = <30>;
            layers = <0>;
        };

        combo_lpar {
            bindings = <&kp DE_LEFT_PARENTHESIS>;
            key-positions = <2 11>;
            timeout-ms = <30>;
            layers = <0>;
        };

        combo_rpar {
            bindings = <&kp DE_RPAR>;
            key-positions = <5 12>;
            timeout-ms = <30>;
        };

        combo_lt {
            bindings = <&kp DE_LT>;
            key-positions = <11 0>;
            timeout-ms = <30>;
            layers = <1>;
        };

        combo_gt {
            bindings = <&kp DE_GT>;
            key-positions = <12 7>;
            timeout-ms = <30>;
            layers = <1>;
        };

        combo_qmark {
            bindings = <&kp DE_QUESTION>;
            key-positions = <0 1>;
            timeout-ms = <30>;
            layers = <1>;
        };

        combo_pipe {
            bindings = <&kp DE_PIPE>;
            key-positions = <1 9>;
            timeout-ms = <30>;
            layers = <1>;
        };

        combo_caret {
            bindings = <&kp DE_CARET>;
            key-positions = <3 11>;
            timeout-ms = <30>;
            layers = <1>;
        };

        combo_seven {
            bindings = <&kp DE_N7>;
            key-positions = <4 12>;
            timeout-ms = <30>;
            layers = <1>;
        };

        combo_eight {
            bindings = <&kp DE_N8>;
            key-positions = <13 5>;
            timeout-ms = <30>;
            layers = <1>;
        };

        combo_nine {
            bindings = <&kp DE_N9>;
            key-positions = <6 14>;
            timeout-ms = <30>;
            layers = <1>;
        };

        combo_tab {
            bindings = <&kp TAB>;
            key-positions = <1 3>;
            timeout-ms = <30>;
            layers = <0 2>;
        };

        combo_esc {
            bindings = <&kp ESCAPE>;
            key-positions = <4 5 6>;
            timeout-ms = <30>;
            layers = <0 2>;
        };

        combo_cbspc {
            bindings = <&kp LC(BSPC)>;
            key-positions = <6 5>;
            timeout-ms = <30>;
            layers = <0>;
        };

        combo_bspc {
            bindings = <&kp BSPC>;
            key-positions = <5 4>;
            timeout-ms = <30>;
            layers = <0>;
        };

        combo_enter {
            bindings = <&kp ENTER>;
            key-positions = <1 3 2>;
            timeout-ms = <30>;
            layers = <0>;
        };

        combo_dollar {
            bindings = <&kp DE_DOLLAR>;
            key-positions = <2 10>;
            timeout-ms = <30>;
            layers = <1>;
        };

        combo_excl {
            bindings = <&kp DE_EXCLAMATION>;
            key-positions = <7 6>;
            timeout-ms = <30>;
            layers = <1>;
        };

        combo_sqt {
            bindings = <&kp DE_SQT>;
            key-positions = <4 5>;
            timeout-ms = <30>;
            layers = <1>;
        };

        combo_dqt {
            bindings = <&kp DE_DOUBLE_QUOTES>;
            key-positions = <5 6>;
            timeout-ms = <30>;
            layers = <1>;
        };

        combo_dot {
            bindings = <&kp DE_DOT>;
            key-positions = <3 0>;
            timeout-ms = <30>;
        };

        combo_under {
            bindings = <&kp DE_UNDERSCORE>;
            key-positions = <0 11>;
            timeout-ms = <30>;
            layers = <0 1>;
        };

        combo_minus {
            bindings = <&kp DE_MINUS>;
            key-positions = <12 7>;
            timeout-ms = <30>;
            layers = <0 1>;
        };

        combo_pgdn {
            bindings = <&kp PAGE_DOWN>;
            key-positions = <5 13>;
            timeout-ms = <30>;
            layers = <2>;
        };

        combo_pgup {
            bindings = <&kp PG_UP>;
            key-positions = <6 14>;
            timeout-ms = <30>;
            layers = <2>;
        };

        combo_stdio {
            bindings = <&studio_unlock>;
            key-positions = <9 10 0>;
            layers = <2>;
            require-prior-idle-ms = <150>;
        };

        combo_x {
            bindings = <&kp DE_X>;
            key-positions = <9 0>;
            timeout-ms = <25>;
            layers = <0>;
        };
    };

    behaviors {
        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <15 18 19 4 5 6 7 12 13 14 15>;
            tapping-term-ms = <150>;
            require-prior-idle-ms = <150>;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            hold-trigger-on-release;
            tapping-term-ms = <150>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <0 1 2 3 8 9 10 11 16 17>;
        };
    };
    
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                        &kp A   &kp B   &kp C                   &kp D &kp E &kp F
                &kp G   &kp H   &kp I   &kp J                   &kp K &kp L &kp M &kp N
                                        &kp O   &kp P   &kp Q   &kp R
            >;
        };
    };
};
